.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
docker
.git